html, body {
  /* font-family: "Open Sans", sans-serif !important; */
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif !important;
  font-size: 0.9rem;
  color: #000000;
}

/* .container {
  width: 890px;
} */

/* nav bar */

.nav {
  font-size: 1rem;
}

.nav-text-color a {
  color: #000;
}

/* .nav-text-color a:hover {
  
} */

hr {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* top nav */

.my-custom-menu {
  text-align: right !important;
}

.box-shadow {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.title-color {
  color: rgb(149, 55, 52);
}

.description {
  font-size: 1rem;
}

.profile-image {
  float: left; 
  margin: 0px 25px 35px 0px;
}

.bio-text {
  font-size: 1.2rem
}

.testimonial-container {
  min-height: 200px
}

.testimonial-commission {
  min-height: 250px
}



/* .testimonial {
  font-family: lato;
} */

.testimonial-image {
  border-radius: 50% !important;
}

/**** Cart Page****/
.my_custom_table {
  min-width: 400px;
  font-size: 14px;
}

.my_custom_thead {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .2em;
  background-color: #f8f9fa !important;
}

.custom_image {
  width: 100px;
  height: 100px;
}
.custom_a {
  text-decoration: none;
}
.custom_icon {
  text-decoration: none;
  color: #868e96 !important;
}
.my_custom_button {
  margin-top: 5px;
}

/***Stripe Button***/
.stripe-button-el {
  width: 100% !important;
  display: block !important;
  background-color: #868e96 !important;
  border: 0px !important;
  background-image: none !important;
}

.stripe-button-el span {
  display: block;
  position: relative;
  padding: 0px 12px;
  height: 36px !important;
  line-height: 36px !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
  color: #fff !important;
  background-image: none !important;
  background: none !important;
}

/*** Signup Form ***/
.errorlist li {
  color: red;
  font-weight: bold;
}

/*** Login Form ***/
.my_custom_div {
  margin-bottom: 20px !important;
}