{% extends "base.html" %}

{% load staticfiles %}

{% block metadescription %}
Oil painting demos by Bunny and Meow Fine Art Studio.
{% endblock %}

{% block title %}
Bunny and Meow - Oil Painting Demos
{% endblock %}

{% block content %}

<div class="my-5 container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p class="bio-text">
        <img src="{% static 'img/lei.jpg' %}" alt="lei"  class="mt-4 rounded profile-image box-shadow" width="300">
        Lei is a professional artist specialising in the oil medium. His interest in arts started early as a child growing up in a Chinese city with a long tradition of art and craft. Later he relocated to England to study when he was 17.<br><br>
  ​
        ​During his nearly 13 years of life living in the west, he'd grown a deep appreciation for fine art and
        classical music and had visited numerous museums in western Europe and the United States.<br><br>

        Since 2013 Lei studied oil painting with British oil painter Ioannis Antoniadis and life drawing with British
        sculptor Richard Field. Some of his early portrait paintings and sketches had been exhibited in Glastonbury
        public library and town hall.<br><br>

        In 2016, he returned to his hometown Weifang, China to work professionally on oil paintings. His paintings had
        since been exhibited in Taihang plein air exhibition in Taihang Shan and in Courtyard Gallery in Weifang city
        in 2016. His 2016 oil painting "Adam" was accepted by the Swiss Academic publisher PeterLang as the cover for
        the book "Shame, Masculinity and Desire of Belonging".<br><br>

        In 2017 he started painting with the well known Chinese oil painter Wang Xuetian, a director at Plein Air
        China. In the same year his oil painting "Botanical Garden" was exhibited in 2017 China Plein Air painting
        exhibition in Shanghai.<br><br>

        At the present, he regularly produces to commission. His paintings are generally painterly and expressive. He
        has a special love for painting portraits and animals.<br><br>

        In addition to doing commissioned work, he has a deep love for painting from life, especially painting outdoors
        in plein air.
      </p>
    </div>
  </div>
</div>
{% endblock %}