{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
Custom Oil Portrait Commission - Bunny and Meow. Pets, dogs, cats, animal, portrait paintings.
{% endblock %}
{% block title %}
Custom Oil Portrait Commission - Bunny and Meow
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img src="{% static 'img/lei_painting.jpg' %}" alt="lei" class="my-5 rounded mx-auto d-block box-shadow" width="300">
      <p class="bio-text">Lei regularly produces work to commission, including portraits, animal portraits based on reference photos. <br><br>

        You can also watch how he works in the demo videos <a href="{% url 'painting:art_demos' %}">here</a>. <br><br>

        To commission a standard sized painting of a portrait or an animal please click on the two links below for more details.
      </p>

        {% for product in products %}
        <ul class="nav nav-text-color">
          <div class="nav-item">
            <a class="ml-1 bio-text nav-link" href="{{product.get_url}}"><i class="fas fa-link"></i> {{product.name}}</a>
          </div>
        </ul>
        {% endfor %}

        <br>
      <p class="bio-text">
        For information on commissioning a work of irregular sizes and any other questions please write to him directly <a href="{% url 'contact:contact' %}">here</a>. He will be really happy to talk to you!

      </p>
      <hr class="my-5">
      <div id="carouselExampleSlidesOnly" class="testimonial-commission carousel slide text-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="bio-text"><em>Lei has such a wonderful talent for exactly capturing the character and
                attitude of beloved pets, as
                well as their physical uniqueness. I am really happy with this portrait of my little friend and will
                treasure it deeply.</em></p>
            <img src="{% static 'img/cg.jpg' %}" alt="lei" class="mt-3 testimonial-image" width="70">
            <h4 class="mt-3 title-color bio-text">G Chassery</h4>
          </div>
          
          <div class="carousel-item">
            <p class="bio-text"><em>I've got the picture and it's hanging on the wall at home in my lounge and I'm
                thrilled to bits
                with it. It's very, very good and the likeness is incredible. In fact someone joked and said that it
                looked
                better than the real life version!!</em></p>
            <img src="{% static 'img/miky.jpg' %}" alt="lei" class="mt-3 testimonial-image" width="70">
            <h4 class="mt-3 title-color bio-text">Mike Brown</h4>
          </div>

          <div class="carousel-item">
            <p class="bio-text"><em>A very touching and accurate portrait of a beloved cat who died recently, this will
                make such a unique and treasured gift. Thank you for the very caring art and speedy delivery, I was
                amazed at how fast and well Lei works, and am very impressed and pleased.</em></p>
            <img src="{% static 'img/sheep.jpg' %}" alt="lei" class="mt-3 testimonial-image" width="70">
            <h4 class="mt-3 title-color bio-text">Gaelle Bluewhale</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}