{% extends "base.html" %}

{% load staticfiles %}

{% block metadescription %}
Oil painting demos by Bunny and Meow Fine Art Studio.
{% endblock %}

{% block title %}
Bunny and Meow - Contact us
{% endblock %}

{% block content %}

<div class="my-5 container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="alert alert-light text-center" role="alert">
        <h4 class="alert-heading">Your message has been sent. Thank you for getting in touch!</h4>
      </div>
      <!-- <img src="{% static 'img/ning.jpg' %}" alt="lei" class="mt-5 mb-3 rounded mx-auto d-block box-shadow" width="400">
      <p class="text-center">A little sketch of my brother</p> -->
      <!-- <p class="bio-text text-center">Your message has been sent. Thank you for getting in touch!</p> -->



    </div>
  </div>
</div>

{% endblock %}